NEXT_PUBLIC_ENV=development
NEXT_PUBLIC_API_BASE_URI=http://localhost:8000
NEXT_PUBLIC_ENABLE_MOCK_UI=true
NEXT_PUBLIC_MOCK_ROLE=TENANT_ADMIN
NEXT_PUBLIC_DEMO_OWNER_EMAIL=owner@violyt.ai
NEXT_PUBLIC_DEMO_OWNER_PASSWORD=DemoPass123!
